html{
	padding: 0;
	margin: 0;
}
body{
	background: url(../images/footer_lodyas.png);
	color:#0A0B14;
	font-family: 'PT Sans', sans-serif;
}
a{
	color:#1FB4C2;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.main{
	width:970px;
	margin: 40px auto;
	background: #fff;
	padding: 20px;
}
.header{
	width:970px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	height: 30px;
	position: relative;
}
.header ul{
	position: absolute;
	bottom: 0;
	left: 30px;
	margin: 0;
	padding: 0;
	border-left: 1px solid #ccc;
}
.header ul li{
	float: left;
	list-style: none;
}
.header ul li a{
	display: block;
	padding: 0 40px;
	border-right: 1px solid #ccc;
	height: 70px;
	line-height: 70px;
}
.header ul li a:hover{
	text-decoration: none;
	color:#fff;
	background: #1FB4C2;
}
.contacts{
	position: absolute;
	top:7px;
	right: 30px;
	font-style: italic;
	text-align: right;
	font-size: 18px;
	line-height: 27px;
}
.main h1{
	text-align: center;
}
.projectOne{
	display: inline-block;
	width: 300px;
	margin: 10px 10px 40px;
	vertical-align: top;
}
.prjDescription{
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 18px;
	/*color: #1FB4C2;*/
}
.prjImg{
	height: 200px;
	overflow: hidden;
	border: 4px solid #ccc;
	margin-bottom: 5px;
}
.prjImg img{
	max-width: 100%;
}
.prjLink{
	font-style: italic;
	margin-bottom: 10px;
}
.prjMyJob ul{
	padding-left: 25px;
	margin-top: 3px;
}
